<nav class="navbar navbar-dark bg-lila fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Educación Integral</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header text-secondary">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Más info</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 ">
            <li class="nav-item ">
              <a class="nav-link active text-secondary" aria-current="page" [routerLink]="['/home']">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-secondary" [routerLink]="['/about']">Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-secondary" [routerLink]="['/contact']">Contacto</a>
            </li>
            
          </ul>

          
          <div id="alumnoslist" class="row col-12">
            <h6>Grupo de trabajo</h6>
            <div class="col col-6">
              <ul>
                  <li>Balcala Camila.</li>
                  <li>Cabaña Rita.</li>
                  <li>Centurión Liz.</li>
                  <li>Deymonnaz Marianela.</li>
                  <li>Kelly Vilma.</li>
                  <li>Portillo Daiana.</li>
                  <li>Mansilla Katia.</li>
                  <li>Mistrorigo Gisela.</li>
                  <li>Neumayer Gabriela.</li>
              </ul>
            </div>
            <div class="col col-6">
              <ul>
                
                  <li>Recalde Carmen.</li>
                  <li>Ronconi Evangelina.</li> 
                  <li>Sangoy Magali.</li>
                  <li>Schenerberger Ana Claribel.</li>
                  <li>Varela Lucía.</li>
                  <li>Zuñiga Rocio Belèn.</li>
              </ul>
            </div>

            <h5>Instituto Técnico Superior de Cerrito</h5>
            <p>Profesorado en Educación Especial con Orientación en Discapacidad Intelectual. </p>
            <p>Prime año - 2021</p>
          </div>
          
          






        </div>
      </div>
    </div>
  </nav>
