<div class="footer bg-dark">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
      <div class="col-md-4 d-flex align-items-center">
        
        <span class="text-white"><img id="alejoFooter" src="../../assets/img/alejo.png">by Alejandro Ronconi</span>
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted" href="https://github.com/aron1984"><img src="../../assets/img/github.svg"></a></li>
        <li class="ms-3"><a class="text-muted" href="https://www.facebook.com/ronconi.alejo"><img src="../../assets/img/facebook.svg"></a></li>
        <li class="ms-3"><a class="text-muted" href="https://www.instagram.com/alejoronconi/"><img src="../../assets/img/instagram.svg"></a></li>
      </ul>
    </footer>
  </div>
