<div id="contacto">
    <div class="container">
        <div class="tituloPaginas">
            <h2>Contacto</h2>
            <hr>
        </div>
        <p>Puedes ponerte en contacto con nosotros por medio de:</p>

        <h2>Instituto Técnico Superior de Cerrito</h2>
        <div id="contentImg">
            <img id="imgContacto" src="../../assets/img/its_64_web.svg">
        </div>
        
        

        <p><img src="../../assets/img/location.svg" class="img"><span>Dirección</span>: Av. Racedo 499, E3122 Cerrito, Entre Ríos.</p>

        <p><img src="../../assets/img/contact2.svg" class="img"><span>Teléfono</span>: 0343 470-4201</p>

        <p><img src="../../assets/img/mail.svg" class="img"><span>Email</span>: itscerrito@gmail.com</p>

        <p><img src="../../assets/img/web.svg" class="img"><span>Web</span>: <a href="https://itscerrito-ers.infd.edu.ar/sitio/">itscerrito</a></p>



    </div>
</div>
