<div id="about">
    <div class="container">
        <h2>Nosotros</h2>
        <p>Somos estudiantes del primer año del profesorado de Educación Especial con orientación en discapacidad intelectual, corte 2021 del Instituto Técnico Superior. Cerrito, Entre Ríos. </p>
        <p>Este trabajo lo hicimos en el marco de Práctica Docente I, a cargo de las profesoras:</p>

        <ul>
            <li>Batisti, Laura.</li>
            <li>Bertuni, Clarisa.</li>
            <li>Zapata, Agustina.</li>
        </ul>

        <p>Nuestro grupo de trabajo lo conforman:</p>

        <ul>
            <li>Balcala Camila.</li>
            <li>Cabaña Rita.</li>
            <li>Centurión Liz.</li>
            <li>Deymonnaz Marianela.</li>
            <li>Kelly Vilma.</li>
            <li>Portillo Daiana.</li>
            <li>Mansilla Katia.</li>
            <li>Mistrorigo Gisela.</li>
            <li>Neumayer Gabriela.</li>
            <li>Recalde Carmen.</li>
            <li>Ronconi Evangelina.</li> 
            <li>Sangoy Magali.</li>
            <li>Schenerberger Ana Claribel.</li>
            <li>Varela Lucía.</li>
            <li>Zuñiga Rocio Belèn.</li>
        </ul>

        <p>Este sitio, como la información estará en constante desarrollo y actualización; por lo que agradecemos la visita y cualquier información o sugerencia para mejorarla. Gracias.</p>
    </div>
</div>