<div id="about">
    <div class="container">
        <div class="tituloPaginas">
            <h2>Nosotras</h2>
            <hr>
        </div>
        <p>Somos estudiantes del primer año del profesorado de Educación Especial con orientación en discapacidad intelectual, corte 2021 del Instituto Técnico Superior de Cerrito, Entre Ríos. </p>
        <p>Este trabajo lo hicimos en el marco de la cátedra <span>Práctica Docente I</span>.</p>

        <h3><img class="img" src="../../assets/img/esc_lila_web.svg">Institución:</h3>

        <div class="row col-12 mb-4 mt-4">
            <div class="col col-sm-8 col-12">
                <div class="infoEsc">
                    <h5>Instituto Técnico Superior de Cerrito</h5>
                    <h6>Profesorado en Educación Especial con Orientación en Discapacidad Intelectual.</h6>
                    <p>Primer año - 2021</p>
                    <p>Práctica Docente I</p>
                    <p>Cerrito - Entre Ríos</p>
                </div>
            </div>
            <div class="col col-sm-4 col-12 col order-first">
                <img id="its" src="../../assets/img/its_p_250_web.svg">
            </div>

        </div>
        

        


        <h3><img class="img" src="../../assets/img/profesora.svg">Profesoras:</h3>
        <ul class="lista">
            <li>Batisti, Laura.</li>
            <li>Bertuni, Clarisa.</li>
            <li>Zapata, Agustina.</li>
        </ul>

        <h3><img class="img" src="../../assets/img/alumno.svg">Alumnas:</h3>
        
        <ul class="lista">
            <li>Balcala Camila.</li>
            <li>Cabaña Rita.</li>
            <li>Centurión Liz.</li>
            <li>Deymonnaz Marianela.</li>
            <li>Kelly Vilma.</li>
            <li>Portillo Daiana.</li>
            <li>Mansilla Katia.</li>
            <li>Mistrorigo Gisela.</li>
            <li>Neumayer Gabriela.</li>
            <li>Recalde Carmen.</li>
            <li>Ronconi Evangelina.</li> 
            <li>Sangoy Magali.</li>
            <li>Schenerberger Ana Claribel.</li>
            <li>Varela Lucía.</li>
            <li>Zuñiga Rocio Belèn.</li>
        </ul>

        <p>Este sitio, como la información estará en constante desarrollo y actualización; por lo que agradecemos la visita y cualquier información o sugerencia para mejorarla. Gracias.</p>
    </div>
</div>